@charset "UTF-8";
/* signup style */
.submit_button{
    color: white;
    background-color: rgb(0, 150, 255);
    border: none;
    border-radius: 3px;
    width: 10%;
    height: 30px;
   	margin-left: 45%;
    margin-bottom: 20px;
}
/* signin style */
.signin_form_group{
	text-align: center;
	margin: 15px 0px;
}
.signin_logo{
	margin-top: 30px;
    width: 70px;
    height: 75px;
}
.signin_form_name{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}
.signin_input{
	border: solid 1px rgb(150,150,150);
	width: 35%;
	min-height: 25px;
	border-radius: 5px;
	padding: 5px 10px;
}
.signin_input:focus{
	outline: none;
	border: solid 1px rgb(30, 30, 30);
	font-weight: bold;
}
.signin_button{
	border: none;
	width: 39%;
	min-height: 35px;
	border-radius: 5px;	
	padding: 5px 10px;
	background-color: rgb(30, 150, 250);
	color: white;
}
.signin_button:focus{
	background-color: rgb(10, 130, 230);
}
.google_button{
	border: solid 1px rgb(200,200,200);
	width: 39%;
	min-height: 35px;
	border-radius: 5px;	
	padding: 5px 10px;
	background-color: white;
	color: black;
}
.google_button:focus{
	background-color: rgb(235, 235, 235);
}
.naver_button{
	border: none;
	width: 39%;
	min-height: 35px;
	border-radius: 5px;	
	padding: 5px 10px;
	background-color: rgb(70, 180, 81);
	color: white;
}
.naver_button:focus{
	background-color: rgb(50, 160, 61); 
}
.signup_href{
	font-size: 14px;
	color: rgb(100, 100, 100);
}
.href{
	text-decoration: none;
	color: rgb(0, 80, 255);
}
.signin_card{
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 36%;
    left: 32%;
    right: 32%;
    top: 120px;
    bottom: 10%;
    border-radius: 10px;
    border: solid 1px rgb(190, 190, 190);
}
/* userInfo style */
.info_card{
	position: relative;
	display: inline-table;
	width: 30%;
	min-height: 30vh;
	left: 16%;
	top: 150px;
	margin: 30px 2%;
	padding: 30px 10px;
	border: solid 1px rgb(200, 200, 200);
	border-radius: 5px;
	
}
.info_group{
	display: flex;
	flex-direction: column;
	margin: 20px 40px;
}
.info_label{
	font-size: 20px;
	font-weight: bold;
	color: black;
	margin: 20px 30px;
}
.info_value{
	
}
.edit_button{
	top: 150px;
	left: 90%;
	position: fixed;
	background-color: rgb(0, 150, 255);
	color: white;
	padding: 10px 30px;
	border-radius: 5px;
	
}