@charset "UTF-8";
/* main style*/
.main_logo{
	width: 50%;
	margin: 50px;
}
.side{
	display: flex;
	position: relative;
	justify-content: space-between;
	left: 35%;
	width: 30%;
	height: 40px;
}
.main_button_create{
	border: none;
	border-radius: 5px;
	background-color: rgb(150, 255, 255);
	width: 35%;
}
.main_button_join{
	border: none;
	border-radius: 5px;
	background-color: rgb(255, 255, 150);
	width: 35%;
}
.main_form{
	display: flex;
	flex-direction: column;
}


/* create modal */
.create_modal{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0, 0.5);
}
.join_modal{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0, 0.5);
}
/* modal_box */
.create_modal_box{
	position: absolute;
	background: white;
	top: 200px;
	left: 30%;
	width: 40%;
	border-radius: 10px;
}
.join_modal_box{
	position: absolute;
	background: white;
	top: 200px;
	left: 30%;
	width: 40%;
	border-radius: 10px;
}
.close_button{
	width: 20%;
	height: 30px;
	margin-bottom: 20px;
	background-color: rgb(0, 150, 255);
	color: white;
	border: none;
	border-radius: 5px;
}
.img_copy{
	width: 15px;
	height: 15px;
}
.copy_button{
	border: none;
	background-color: white;
}
.img_mic{
	width: 20px;
	height: 20px;
}
.mic_button{
	border: none;
	background-color: white;
	width: 20px;
	height: 20px;
}